asgiref==3.8.1
Django==5.2.1
django-allauth==65.8.1
django-rest-auth==0.9.5
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
pillow==11.2.1
psycopg2==2.9.10
psycopg2-binary==2.9.10
PyJWT==2.9.0
six==1.17.0
sqlparse==0.5.3
