{% extends 'layout/a_layout.html' %}

{% block content %}

<h1>Create Post</h1>
<div class="card !p-8">

    <div class="flex items-center mb-6">
        <img class="h-5 object-cover mr-1" src="https://img.icons8.com/small/96/333333/search--v1.png"/>
        <a href="https://www.flickr.com/explore" target="_blank" class="hover:underline text-gray-500">Find an image on Flickr</a>
    </div>

    <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <p>
        <label>Current Image:</label>
        {% if posts.image %}
            <img src="{{ posts.image.url }}" alt="Current Image" style="max-width: 200px; max-height: 200px;">
        {% else %}
            <span>No image uploaded yet.</span>
        {% endif %}
    </p>
    <p>
        <label for="id_image">Upload Image:</label>
        <input type="file" name="image" id="id_image" accept="image/*" required>
    </p>
    <p>
        <label for="id_title">Title:</label>
        <input type="text" name="title" id="id_title" required>
    </p>
    <p>
        <label for="id_artist">Body:</label>
        <input type="text" name="artist" id="id_artist" required>
    </p>
    <button type="submit" class="mt-1">Submit Post</button>
    <a class="button secondaryAction ml-1" href="">Cancel</a>
</form>

</div>


{% endblock %}